<%- include("partials/header") %>

    <main class="container">
        <div class="d-flex flex-column align-content-center">
            <p class="mx-5 px-5">
                This project was made a an opportunity for me test my HTML, CSS and JavaScript abilities. It was built with Express, EJS and mongoDB, through the
                Mongoose package. It allows simple operations, such as inserting restaurants to the data base. I'm looking forward to dive more and more into Web
                Development, and create new and better projects!
            </p>
        </div>
    </main>

<%- include("partials/footer") %>
