<%- include("partials/header") %>

        <p class="text-align-center">This project was made by me, using HTML, CSS JavaScript, as a way to train my Web Development skills.
            It was built with Express EJS and mongoDB, through the Mongoose package.</p>

<%- include("partials/footer") %>