<%- include("partials/header") %> 

<form action="/restaurants" method="get">
    <input type="text" name="query">
    <button class="btn" type="submit">Search</button>
</form>

<%- include("partials/footer") %> 