<%- include("partials/header") %>

<form action="/register" method="post">
	<label>Title</label>
	<input type="text" name="name" />
	<label>Description</label>
	<input type="text" name="description" />
	<button type="submit">Submit</button>
</form>

<%- include("partials/footer") %>
