<%- include("partials/header") %>

		<div class="container-fluid">
		</div>
		<h1 class="mx-auto mt-4">Enter Restaurant Data</h1>

		<div class="mx-sm-auto mx-5 my-4">
			<form action="/register" method="post">
				<div class="mb-3">
					<label for="title">Title:</label>
					<input class="form-control" id="title" type="text" name="name" />
				</div>
				<div class="mb-3">
					<label for="description">Description:</label>
					<textarea class="form-control" id="description" name="description" cols="50" rows="4"></textarea>
				</div>
				<div class="d-flex mb-3">
					<label class="me-2">Rating:</label>
					<div onclick="ratingStars('1')">
						<i class="far fa-star" aria-hidden="true"></i>
						<input id="s-1" type="radio" value="1" name="rating">
					</div>
					<div onclick="ratingStars('2')">
						<i class="far fa-star" aria-hidden="true"></i>
						<input id="s-2" type="radio" value="2" name="rating">
					</div>
					<div onclick="ratingStars('3')">
						<i class="far fa-star" aria-hidden="true"></i>
						<input id="s-3" type="radio" value="3" name="rating">
					</div>
					<div onclick="ratingStars('4')">
						<i class="far fa-star" aria-hidden="true"></i>
						<input id="s-4" type="radio" value="4" name="rating">
					</div>
					<div onclick="ratingStars('5')">
						<i class="far fa-star" aria-hidden="true"></i>
						<input id="s-5" type="radio" value="5" name="rating">
					</div>
				</div>
				<div class="mb-3">
					<label class="mb-1" for="image">Choose a image to your restaurant:</label>
					<input class="form-control" type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg" />
				</div>
				<button class="btn btn-danger" type="submit">Submit</button>
			</form>
		</div>


		<script>
			function ratingStars(starNumber) {
				const starsArray = document.querySelectorAll("div > i");
				starsArray.forEach(star => {
					star.classList.replace("fa", "far");
				});
				
				for (let i = 0; i < starNumber ; i++) {
					starsArray[i].classList.replace("far", "fa");
				}

				const inputs = document.querySelectorAll("input[type='radio'");
				inputs.forEach(input => {
					input.checked = false;
				});

				document.querySelector(`input#s-${starNumber}`).checked = true;
			}
		</script>

<%- include("partials/footer") %>
