<%- include("partials/header") %>

		<form action="/register" method="post">
			<label>Title</label>
			<input type="text" name="name" />
			<label>Rating</label>

			<div class="d-flex">
				<div onclick="toggleStar('rating-1')">
					<label>
						<i class="far fa-star" id="rating-1" aria-hidden="true"></i>
					</label>
					<input type="radio" name="rating">
				</div>
				<div onclick="toggleStar('rating-2')">
					<label>
						<i class="far fa-star" id="rating-2" aria-hidden="true"></i>
					</label>
					<input type="radio" name="rating">
				</div>
				<div onclick="toggleStar('rating-3')">
					<label>
						<i class="far fa-star" id="rating-3" aria-hidden="true"></i>
					</label>
					<input type="radio" name="rating">
				</div>
				<div onclick="toggleStar('rating-4')">
					<label>
						<i class="far fa-star" id="rating-4" aria-hidden="true"></i>
					</label>
					<input type="radio" name="rating">
				</div>
				<div onclick="toggleStar('rating-5')">
					<label>
						<i class="far fa-star" id="rating-5" aria-hidden="true"></i>
					</label>
					<input type="radio" name="rating">
				</div>
			</div>

			<label>Description</label>
			<input type="text" name="description" />
			<button type="submit">Submit</button>
		</form>

		<script>
			function toggleStar(id) {
				const star = document.getElementById(id);
				if (star.classList.contains("far")) {
					star.classList.remove("far");
					star.classList.add("fa")
				} else {
					star.classList.remove("fa")
					star.classList.add("far")
				}
			}
		</script>
<%- include("partials/footer") %>
